:root {


  /* color pallet*/

  --clr-blue-dark : #131921;
  --clr-orange : #f08804;
  --clr-orange-light : #ffa500;
  --clr-white :  #ffffff;
  --clr-grey : #6b6363;
  --clr-grey-light : #6b63633f;
  --clr-yellow : #ffd814;
  --clr-light-blue : #007185;
  --clr-green: #007600;
  --clr-red-dark: #b12704;


  /* text-sizes */

  --size-xxs: 0.5rem;   /* 8px */
  --size-xs: 0.75rem;   /* 12px */
  --size-sm: 0.875rem;  /* 14px */
  --size-base: 1rem;    /* 16px */
  --size-lg: 1.125rem;  /* 18px */
  --size-xl: 1.25rem;   /* 20px */
  --size-2xl: 1.5rem;   /* 24px */
  --size-3xl: 1.875rem; /* 30px */
  --size-4xl: 2.25rem;  /* 36px */
  --size-5xl: 3rem;     /* 48px */
  --size-6xl: 3.75rem;  /* 60px */
  --size-7xl: 4.5rem;   /* 72px */
  --size-8xl: 6rem;     /* 96px */
  --size-9xl: 8rem;     /* 128px */
  --size-10xl: 10rem;   /* 160px */
  
}

*{
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: calc(1em + 0.5rem);
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Amazon Ember", Roboto, Arial, sans-serif;
  background-color: var(--clr-white);
}

nav {
  width: 100%;
}

section {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

h1,h2,h3,h4 {
  font-weight: 600;
  display: block;
  width: 100%;
}

span {
  display: block;
}

img {
  display: inline-block;
  max-width: 100%;
  user-select: none;
  height: auto;
}

button{
  display: inline-block;
  padding: 0;
  border: none;
  color: inherit;
  cursor: pointer;
}

a{
  text-decoration: none;
  color: inherit;
  display: block;
  cursor: pointer;
}

form{
  display: flex;
  gap: 0.2rem;
  flex: 1;
}

input {
  flex: 1;
  width: 100%;
  max-width: 900px;
  display: inline-block;
  padding: 0.5rem 0.9rem;
  font-size: clamp(0.8rem, 1vw, 1rem);  /*10px to 16px */
  outline: none;
  box-sizing: border-box;  
  border-radius: 0.2rem;
}

select {
  display: block;
  max-width: clamp(2rem, 2vw, 2.5rem);
  border: 1px solid var(--clr-grey);
  background-color: rgba(249, 249, 249, 0.974);
  border-radius: 0.4rem;
  box-shadow: 0px 0px 3px rgba(108, 101, 101, 0.974);
  cursor: pointer;
  font-size: clamp(0.8rem, 2vw, 0.9rem);
}


/* xs */
/*@media (min-width: 475px) {}*/

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */


