body {
  font-family: "Amazon Ember", Roboto, Arial, sans-serif;
  background-color: rgb(255, 255, 255);
  margin: 0px;
  padding: 0px;
  color: white;
}

h1, h2, h3 {
  margin: 0px;
  padding: 0px;
  font-weight: 500;
}

*
{
 box-sizing: border-box;
}

