.product-box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
}

.product-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.product-card-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-wrap: wrap;
  text-align: start;
  width: 240px;
  border: 1px solid rgba(10, 4, 4, 0.157);
  padding: 25px 20px;
}

.product-image-container {
  display: flex;
  flex-direction: column;
  object-fit: cover;
  object-position: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
}

.product-rating-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.product-text-container {
  display: flex;
  text-align: start;
  margin-bottom: 12px;
}

.product-text {
  display: flex;
  font-size: 17px;
  font-weight: 400;
}

.product-rating-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  text-align: center;
  max-width: 125px;
  width: 100%;
}

.product-rating-count {
  font-size: 16px;
  color: rgb(0 94 221);
}


.product-rating-image-container {
  width: 100px;
  margin-bottom: 12px;
}

.product-rating-image {
  max-width: 100%;
}

.product-price {
  font-weight: 600;
  margin-bottom: 12px;
}

.product-quantity-select-option {
  background-color: rgba(101, 97, 97, 0.186);
  border-radius: 6px;
  padding: 2px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.522);
  margin-bottom: 30px;
  border: none;
  cursor: pointer;
}

.product-add-to-cart-btn {
  border-radius: 25px;
  padding: 10px 25px;
  border: none;
  background-color: rgb(248 189 25);
  cursor: pointer;
}

.product-add-to-cart-btn:hover {
    background-color: rgb(207, 163, 42);
}






