@media ( min-width: 0px ) {

  /* global header */
  .checkout .global-header {
    color: var(--clr-black);
    border: 1px solid red;
    background-color: var(--clr-white);
  }

  .checkout .global-header__middle-highlight-text {
    color: var(--clr-light-blue);
    display: inline-block;
  }

  /* main */
  .checkout-cart-container {
    font-size: clamp(0.6rem, 1.5vw, 1.125rem); 
    display: flex;
    
  }

  .checkout-cart-container__left {

  }


  .checkout-cart-container__product-img{
    max-width: clamp(6rem, 5vw, 9rem);
    height: auto;
  }

  .checkout-cart-container__left-abt-product {
    display: flex;
    flex-direction: column;
    gap: clamp(0.6rem, 1vw, 0.8rem);
  }

  .checkout-cart-container__left-delivery {
    display: flex;
    flex-direction: column;
  }

  .checkout-cart-container__left-delivery form {
    display: flex;
    flex-direction: column;
  }



}


/* xs */
/*@media (min-width: 475px) {}*/

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */

@media (min-width: 1536px)  {
.checkout .global-header__wrapper, .global-header
{
  max-width: 1536px;
  margin: 0 auto;
  background-color: var(--clr-white);  
}
}