@media ( min-width: 0px ) {

  .global-header {
    color: var(--clr-black);
    border: 1px solid red;
    background-color: var(--clr-white);  


  }

  .checkout .global-header__middle-highlight-text {
    color: var(--clr-light-blue);
    display: inline-block;
  }

}


/* xs */
/*@media (min-width: 475px) {}*/

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */

@media (min-width: 1536px)  {
.checkout .global-header__wrapper, .global-header
{
  max-width: 1536px;
  margin: 0 auto;
  background-color: var(--clr-white);  
}
}