@media ( min-width: 0px ) {

  /* global header */
  .checkout .global-header {
    color: var(--clr-black);
    background-color: var(--clr-white);
  }

  .checkout .global-header__middle-highlight-text {
    color: var(--clr-light-blue);
    display: inline-block;
  }

  .global-header__middle-text {
    font-size: clamp(1rem, 1vw, 1.1rem);
  }

  /* main */
  .checkout-cart-container {
    display: flex;
    flex-direction: column;
  }

  .checkout-cart-container__heading {
    display: block;
    font-size: clamp(1.3rem, 1vw, 1.5rem);
  }

  .checkout-cart__delivery-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: clamp(0.5rem, 1vw, 1rem);
    padding-left: 1rem;
    padding-right: 1rem;
  }

                /* left section */

  .checkout-cart-container__left-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 2;
    padding: clamp(0.9rem, 1vw, 1rem);
  }

  .checkout-cart-container__product-wrapper {
    border: 1px solid var(--clr-grey-light);
    margin-bottom: 1rem;
  }

  .checkout-cart-container__left-heading {
    color: var(--clr-green);
    margin-bottom: clamp(0.5rem, 1vw, 0.6rem);
    padding: 0.5rem;
    font-size: clamp(1rem, 1vw, 1.1rem);


  }

  .checkout-cart-container__left-cart-nd-delvery-cont {
    display: flex;

  }

  .checkout-cart-container__left-cart-details {
    display: flex;
    flex-direction: column;
    gap: clamp(0.8rem, 1vw, 5rem);
    padding: 0.5rem;
  }


  .checkout-cart-container__left-cart-details-img{
    max-width: clamp(6rem, 5vw, 9rem);
    height: auto;
  }

  .checkout-cart-container__left-abt-product {
    display: flex;
    flex-direction: column;
    gap: clamp(0.6rem, 1vw, 0.8rem);
  }

  .checkout-cart-container__left-abt-product-text {
    font-weight: 600;
  }

  .checkout-cart-container__left-abt-product-price-text {
    color: var(--clr-red-dark);
    font-weight: 600;
  }

  .checkout-cart-container__left-quant-upt-del {
    display: flex;
    gap: 0.3rem;
    flex-direction: column;
  }

  .checkout-cart-container__left-quant-upt-del .upt, 
  .checkout-cart-container__left-quant-upt-del .del  {
    color: var(--clr-light-blue);
    cursor: pointer;
  }
  
  .checkout-cart-container__left-delivery {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: clamp(0.4rem, 5vw, 1rem);
  }

  .checkout-cart-container__left-delivery-heading {
    padding-right: clamp(0.5rem, 1vw, 2rem);
    padding-top: clamp(0.5rem, 1vw, 2rem);
    font-weight: 600;
  }

  .checkout-cart-container__left-delivery form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start ;
    gap: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .checkout-cart-container__left-delivery label, .checkout-cart-container__left-delivery input  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    cursor: pointer;
  }

  .checkout-cart-container__left-delivery label .date {
    color: var(--clr-green);
  }

  .checkout-cart-container__left-delivery label .note {
    color: var(--clr-grey);
  }


  /* right-section */

  .checkout-cart-container__right-order-summary-cont {
    display: flex;
    border: 1px solid var(--clr-grey-light);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 1rem;
    max-height: 20rem;
    margin-top: 1rem;
  }

  .checkout__right-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .checkout__right-wrapper ol {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    }

  .checkout__right-wrapper ol li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: clamp(0.6rem, 1.5vw, 1.125rem); 
    padding-bottom: clamp(0.32rem, 1vw, 0.4rem);
  }

  .checkout__right-order-total-text {
    color: var(--clr-red-dark);
    font-weight: 700;
  }

  .checkout__right-order-btn {
    background-color: var(--clr-yellow);
    border-radius: 0.5rem;
    font-size: clamp(0.8rem, 1.5vw, 0.8rem);
    margin-top: clamp(0.5rem, 1vw, 1rem);
    padding: 0.3rem 0.5rem;
    width: 50%;
  }

}



/* xs */
@media (min-width: 475px) {
  .checkout-cart-container__left-quant-upt-del {
    flex-direction: row;
  }
}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
  .checkout-cart__delivery-wrapper {
    flex-direction: row;
  }

} 

/* lg */
@media (min-width: 1024px) {
   .checkout-cart-container__left-cart-details {
    flex-direction: row;
  }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */

@media (min-width: 1536px)  {
.checkout .global-header__wrapper, .global-header
{
  max-width: 1536px;
  margin: 0 auto;
  background-color: var(--clr-white);  
}
}