
@media (min-width:0px) {
  .global-header{
    max-width: 2400px;
    background-color: var(--clr-blue-dark);
    color: var(--clr-white);
    padding: 0.5vw 2vw;
    border: 1px solid green;
  
  }
  
  .global-header__wrapper {
    display: flex;
    flex-direction: row;
    gap: 0.9rem;
    align-items: center;
    justify-content: space-between;
  }
  
                /* left */
  
  .global-header__left{
  display: inline-block;
    cursor: pointer;
  }
  
  .global-header__left-home-icon-img{
  max-width: clamp(6rem, 5vw, 9rem);
  height: auto;
  }
  
                /* middle */
  
  .global-header__middle {
    display: none;
  }
  
  .global-header__right{
    display: none;
  }
  
                /* right */
  
  .global-header__right-return {
    flex-direction: column;
    cursor: pointer;
  }
  
  .global-header__right-line1 {
    font-size: clamp(0.8rem, 1vw, 0.95rem);
  }
  
  .global-header__right-line2 {
    font-size: clamp(1rem, 1vw, 1.1rem);
  }
  
  .global-header__right-cart {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .global-header__right-cart-icon {
    max-width: clamp(2.5rem, 1vw, 3rem);
    height: auto;
  }
  
  .global-header__right-cart-count {
    position: absolute;
    top: 0.1rem;
    left: 1.2rem;
    font-size: clamp(0.1rem, 1vw, 0.2rem);
  }
  
  .global-header__right-cart-text {
    margin-left: 0.2rem;
  }
  
  
  .global-header__right-cart-count, .global-header__right-cart-text {
    font-size: clamp(1rem, 1vw, 1.1rem);
  }
}





/* xxs
@media (min-width: 375px) {
} */

/*xs */
/* @media (min-width: 475px){}   --actually i changed for this*/

@media (min-width: 200px) {
  
  .global-header__middle {
  display: flex;
  justify-content: center;
  }

  .global-header__middle-input {
    margin-right: -0.6rem;
    border-radius: 0.4rem;
  }
  
  .global-header__middle-btn {
  background-color: var(--clr-orange-light);
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 10%;
  padding: 0rem 0.35rem;
 }

  .global-header__middle-search-icon-img {
    max-width: clamp(2rem, 1vw, 3rem);
    height: auto;
    display: flex;
    object-fit: cover;
    object-position: center;
  }

}


/* sm */
/* @media (min-width: 640px) {
} */

/* md */
@media (min-width: 768px) {

 .global-header__right{
  display: flex;
  justify-content: space-evenly;
  
  }
  .global-header__right-return {
  display:inherit;
  }

} 

/* lg */
/* @media (min-width: 1024px) { */

/* xl */
@media (min-width: 1536px)  {
.global-header__wrapper
{
  max-width: 1536px;
  margin: 0 auto;
  background-color: var(--clr-blue-dark);  
}
}

/* 2xl */
/* @media (min-width: 1536px) {} */