@media (min-width: 0px) {      /*this will work regardless of denoting this media query*/

  .hero-section__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  .hero-section__product-card {
    max-width: clamp(10rem,10vw,25rem);
    display: flex;
    flex-direction: column;
    gap: clamp(0.6rem, 1vw, 0.8rem);
    padding: 0.5rem 1rem;
    border: 1px solid var(--clr-grey);
    margin: clamp(0.4rem, 1vw, 0.4rem);
    border-radius: 0.5rem;
    box-shadow: 0 0 5px var(--clr-grey);
  }

  .hero-section__product-card-text{
    font-size: clamp(0.8rem, 1.5vw, 1rem);
    font-weight: 500;
  }

  .hero-section__product-card-rating-box {
    display: flex;
    gap: 0.5rem;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .hero-section__product-card-rating-image {
    max-width: clamp(5rem,2vw,6rem);
  }

  .hero-section__product-card-rating-count {
    font-size: clamp(0.9rem, 1vw, 1.1rem);
    color: lightskyblue;
  }

  .hero-section__product-card-add-btn {
    background-color: var(--clr-yellow);
    border-radius: 1rem;
    font-size: clamp(0.8rem, 1.5vw, 0.8rem);
    margin-top: clamp(0.5rem, 1vw, 1rem);
    padding: 0.3rem 0.5rem;
  }
}

/* xs */
@media (min-width: 475px) {
  .hero-section__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  }
}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */